version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
#    command: sleep infinity
    depends_on:
      - postgres
      - rabbitmq
    ports:
      - ${APP_PORT}:80
    environment:
      - APP_NAME=Laravel
      - APP_ENV=local
      - APP_KEY=base64:uhhk0d65kCfBXLLG2jwX23en+EtF3VbRitsSyIsulOc=
      - APP_DEBUG=true
      - APP_URL=http://localhost:${APP_PORT}
#      - LOG_CHANNEL=stderr
#      - LOG_CHANNEL=stack
      - LOG_DEPRECATIONS_CHANNEL=null
      - LOG_LEVEL=debug
      - DB_CONNECTION=pgsql
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_DATABASE=app
      - DB_USERNAME=user
      - DB_PASSWORD=pass
      - PG_APP_SCHEMA=application
      - PG_SYNC_SCHEMA=entity_cache
      - AMQP_HOST=rabbitmq
      - AMQP_PORT=5672
      - AMQP_USER=guest
      - AMQP_PASSWORD=guest
      - BROADCAST_DRIVER=log
      - CACHE_DRIVER=redis
      - FILESYSTEM_DISK=s3
      - MEDIA_DISK=s3
      - QUEUE_CONNECTION=redis
      - SESSION_DRIVER=redis
      - SESSION_LIFETIME=120
      - REDIS_HOST=redis
      - REDIS_PASSWORD=null
      - REDIS_PORT=6379
      - REDIS_CLIENT=predis
      - AWS_ENDPOINT=http://minio:9000/
      - AWS_ACCESS_KEY_ID=ZFwLZF50qP9vmOtQ4Mkg
      - AWS_SECRET_ACCESS_KEY=JjyqbCFfpcc0qFEHnE0smI6XuUxv4kZKms1TSmmj
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_BUCKET=local
      - AWS_USE_PATH_STYLE_ENDPOINT=true
      - KEYCLOAK_SERVICE_ACCOUNT_CLIENT_SECRET=no6HeTE0ySJkLYwrO8xHXz9EU2rVHANx
      - KEYCLOAK_SERVICE_ACCOUNT_CLIENT_ID=tv-translation-order-service
      - KEYCLOAK_BASE_URL=http://host.docker.internal:8180
      - KEYCLOAK_REALM=tolkevarav-dev
      - ACCEPTED_AUTHORIZED_PARTIES=web
      - L5_SWAGGER_GENERATE_ALWAYS=true
      - MATECAT_API_URL=http://host.docker.internal:8080/api
      - CAMUNDA_API_URL=http://host.docker.internal:8090/engine-rest
      - CLASSIFIER_SERVICE_BASE_URL=http://host.docker.internal:8003/api
      - AUTHORIZATION_SERVICE_BASE_URL=http://host.docker.internal:8002/api
      - TRANSLATION_MEMORY_SERVICE_BASE_URL=http://host.docker.internal:5000/api/v1
