services:
  postgres:
    image: postgres:latest
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - ${DB_PORT}:5432
    environment:
      - POSTGRES_DB=app
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass

  rabbitmq:
    image: rabbitmq:management
    ports:
      - ${AMQP_PORT}:5672
      - ${AMQP_UI_PORT}:15672
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  redis:
    image: redis:latest
    ports:
      - 6379:6379

  camunda:
    image: camunda/camunda-bpm-platform:7.18.0
    #    command: ./camunda.sh --webapps --rest --swaggerui
    command: ./camunda.sh --webapps --rest --swaggerui --example
    ports:
      - 8090:8080
    environment:
      - CAMUNDA_BPM_ADMIN_USER_ID=admin
      - CAMUNDA_BPM_ADMIN_USER_PASSWORD=password
    volumes:
      - ./application/database/seeders/sample-files/bpmn/order.bpmn:/camunda/configuration/resources/order.bpmn
      - ./application/database/seeders/sample-files/bpmn/diagram_1.bpmn:/camunda/configuration/resources/diagram_1.bpmn

  minio:
    image: quay.io/minio/minio
    entrypoint: /bin/sh
    command:
      - -c
      - >
        minio server /data --console-address ":9001" & 
        sleep 5 &&
        mc alias set tolkevarav http://localhost:9000 admin password &&
        mc mb --ignore-existing tolkevarav/storage &&
        mc admin user add tolkevarav tv-translation-order secret-key &&
        mc admin policy attach tolkevarav readwrite --user=tv-translation-order;
        sleep infinity;
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
